@page
@model CreateModel

@{
    ViewData["Title"] = "Tools";
}

<div class="container-fluid">
    <h4>Register Tool</h4>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Tool Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Tool.Name"></label>
                            <input asp-for="Tool.Name" class="form-control" />
                            <span asp-validation-for="Tool.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.Url"></label>
                            <input asp-for="Tool.Url" class="form-control" />
                            <span asp-validation-for="Tool.Url" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.ClientId"></label>
                            <input asp-for="Tool.ClientId" class="form-control" />
                            <span asp-validation-for="Tool.ClientId" class="text-danger"></span>
                        </div>
                        <p>
                            This platform supports either a shared secret or a signed JWT for
                            client credentials.
                        </p>
                        <div class="form-group">
                            <label asp-for="Tool.ClientSecret"></label>
                            <tooltip asp-for="Tool.ClientSecret"></tooltip>
                            <input asp-for="Tool.ClientSecret" class="form-control" />
                            <span asp-validation-for="Tool.ClientSecret" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="Tool.PublicKey" />
                            <label asp-for="Tool.PrivateKey"></label>
                            <tooltip asp-for="Tool.PrivateKey"></tooltip>
                            <textarea asp-for="Tool.PrivateKey" class="form-control text-monospace small" readonly="readonly" rows="5"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Platform Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Tool.DeploymentId"></label>
                            <tooltip asp-for="Tool.DeploymentId"></tooltip>
                            <input asp-for="Tool.DeploymentId" class="form-control" value="@Model.Tool.DeploymentId" readonly="readonly"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-secondary" />
        </div>
    </form>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
