@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Tool</h4>
        <hr />
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Tool.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tool.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Tool.Url)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Tool.Url)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Tool.Id" />
            <input type="submit" value="Delete" class="btn btn-secondary" /> |
            <a asp-page="./Index">Back to List</a>
        </form>
    </div>
</div>