@page
@model EditModel

@{
    ViewData["Title"] = "Tools";
}

<div class="container-fluid">
    <h4>Edit Tool Registration</h4>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Tool.Id" />
        <div class="row">
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Tool Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Tool.Name"></label>
                            <input asp-for="Tool.Name" class="form-control" />
                            <span asp-validation-for="Tool.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.LaunchUrl"></label>
                            <input asp-for="Tool.LaunchUrl" class="form-control" />
                            <span asp-validation-for="Tool.LaunchUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.ClientId"></label>
                            <input asp-for="Tool.ClientId" class="form-control" />
                            <span asp-validation-for="Tool.ClientId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.JsonWebKeySetUrl"></label>
                            <tooltip asp-for="Tool.JsonWebKeySetUrl"></tooltip>
                            <input asp-for="Tool.JsonWebKeySetUrl" class="form-control" />
                            <span asp-validation-for="Tool.JsonWebKeySetUrl" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tool.PublicKey"></label>
                            <tooltip asp-for="Tool.PublicKey"></tooltip>
                            <textarea asp-for="Tool.PublicKey" class="form-control text-monospace small" rows="5"></textarea>
                            <span asp-validation-for="Tool.PublicKey" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-3">
                <div class="card">
                    <h5 class="card-header bg-secondary text-light">
                        Platform Settings
                    </h5>
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Tool.DeploymentId"></label>
                            <tooltip asp-for="Tool.DeploymentId"></tooltip>
                            <input asp-for="Tool.DeploymentId" class="form-control" value="@Model.Tool.DeploymentId" readonly="readonly" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </form>
    <div>
        <a asp-page="./Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
