@page
@model EditModel

@{
    ViewData["Title"] = "Tools";
}

<div class="container">
    <h4>Edit Tool</h4>
    <hr />
    <div class="row">
        <div class="col-6">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Tool.Id" />
                <div class="form-group">
                    <label asp-for="Tool.Name"></label>
                    <input asp-for="Tool.Name" class="form-control" />
                    <span asp-validation-for="Tool.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tool.Url"></label>
                    <input asp-for="Tool.Url" class="form-control" />
                    <span asp-validation-for="Tool.Url" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Tool.ClientId"></label>
                    <input asp-for="Tool.ClientId" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="Tool.DeploymentId"></label>
                    <input asp-for="Tool.DeploymentId" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-secondary" />
                </div>
            </form>
            <div>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
