@page
@model CreateModel

@{
    ViewData["Title"] = "Clients";
}

<div class="container">
    <h4>Create Client</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="MyClient.Id"></label>
                    <input asp-for="MyClient.Id" class="form-control" value="@Model.ClientId" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="MyClient.Name"></label>
                    <input asp-for="MyClient.Name" class="form-control" />
                    <span asp-validation-for="MyClient.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-secondary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
