@page
@model AdvantagePlatform.Pages.Clients.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Client.Id" />
            <div class="form-group">
                <label asp-for="Client.ClientId" class="control-label"></label>
                <input asp-for="Client.ClientId" class="form-control" />
                <span asp-validation-for="Client.ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.Name" class="control-label"></label>
                <input asp-for="Client.Name" class="form-control" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.RedirectUrl" class="control-label"></label>
                <input asp-for="Client.RedirectUrl" class="form-control" />
                <span asp-validation-for="Client.RedirectUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.CreatorId" class="control-label"></label>
                <input asp-for="Client.CreatorId" class="form-control" />
                <span asp-validation-for="Client.CreatorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
