@page
@model EditModel

@{
    ViewData["Title"] = "Clients";
}

<div class="container">
    <h4>Edit Client</h4>
    <hr />
    <div class="row">
        <div class="col-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Client.UserId" />
                <input type="hidden" asp-for="Client.PublicKey" />
                <input type="hidden" asp-for="Client.PrivateKey" />
                <div class="form-group">
                    <label asp-for="Client.Id"></label>
                    <input asp-for="Client.Id" class="form-control" readonly="readonly" />
                </div>
                <div class="form-group">
                    <label asp-for="Client.Name"></label>
                    <input asp-for="Client.Name" class="form-control" />
                    <span asp-validation-for="Client.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-secondary" asp-page-handler="Save" />
                </div>
            </form>
            <div>
                <a asp-page="./Index">Back to List</a>
            </div>
        </div>
        <div class="col-8">
            <form method="post">
                <input type="hidden" asp-for="Client.UserId" />
                <input type="hidden" asp-for="Client.Id" />
                <input type="hidden" asp-for="Client.Name" />
                <input type="hidden" asp-for="Client.PrivateKey" />
                <input type="hidden" asp-for="Client.PublicKey" />
                <dl>
                    <dt>@Html.DisplayNameFor(m => m.Client.PublicKey)</dt>
                    <dd><pre>@Model.Client.PublicKey</pre></dd>
                    <dt>@Html.DisplayNameFor(m => m.Client.PrivateKey)</dt>
                    <dd><pre>@Model.Client.PrivateKey</pre></dd>
                </dl>
                <div class="form-group">
                    <input type="submit" value="Generate New Client Keys" class="btn btn-danger" asp-page-handler="Regenerate"/>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
