@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container-fluid">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <p>
        This is an LTI Advantage demonstration platform using .NET Core.
        The project is hosted on 
        <a href="https://github.com/andyfmiller/LtiAdvantagePlatform" target="_blank">GitHub</a>.
    </p>
</div>