@page
@model AdvantagePlatform.Pages.DeepLinksModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DeepLinks</title>
</head>
<body>
</body>
</html>
