@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <dl>
        <dt>Request ID:</dt>
        <dd><code>@Model.RequestId</code></dd>
        <dt>HTTP Status Code</dt>
        <dd><code>@Model.HttpStatusCode</code></dd>
    </dl>
}
