@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .iframe-container iframe {
        width: 100%;
        height: 600px;
        margin-top: 10px;
        border: thin solid black;
    }
</style>

<div class="container">
    <div class="iframe-container">
        <iframe  src="/ResourceLink"></iframe>
    </div>
</div>