@page
@model CourseModel
@{
    ViewData["Title"] = "Course";
    ViewData["ActivePage"] = "Course";
}

<h4>@ViewData["Title"]</h4>
<p>
    This Course was created for you when you registered. It will be used
    for all interactions with Tools.
</p>

<div class="row">
    <div class="col-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Course.User" />
            <div class="form-group">
                <label asp-for="Course.Id"></label>
                <input asp-for="Course.Id" class="form-control" readonly="readonly" />
            </div>
            <div class="form-group">
                <label asp-for="Course.SisId"></label>
                <input asp-for="Course.SisId" class="form-control" />
                <span asp-validation-for="Course.SisId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Course.Name"></label>
                <input asp-for="Course.Name" class="form-control" />
                <span asp-validation-for="Course.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button class="btn btn-secondary" type="submit">Save</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}