/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

body > .container, body > .container-fluid {
    padding: 71px 15px 0;
}

.footer > .container, .footer > .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
}

/* ReSharper disable once CssBrowserCompatibility */
.form-control:disabled, .form-control[readonly] {
    background-color: #b6c5d4;
    /* ReSharper disable once CssBrowserCompatibility */
    opacity: 1;
}

textarea.small {
    font-size: 80%;
    font-weight: 400;
}